@model IEnumerable<Tomy_Chimy.Web.Data.Entities.QueueDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Queue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Descripción)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Queue.Pedido_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QueueDetail_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QueueDetail_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QueueDetail_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
