@model IEnumerable<Queue>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatePedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayingMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anotaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_Impuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatePedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayingMethod.FormaDePago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anotaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor_Impuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pedido_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pedido_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pedido_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
